*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.bg {
	background-color: white;
	background-image: url("stars.png");
}

h1 {
	color: white;
	text-align: left;
	font-size: 3.75em;
	font-family: "sans-serif", Arial;
	background-color: black;
}

h2 {
	text-align: left;
	font-size: 2.5em;
	font-family: "sans-serif", Arial;
}
.mainh2 {
	color: white;
	background-color: black;
}

#sun {
	display: none;
}

.merStats {
	display: none;
}
.mercury img {
	width: 20em;
	transition-duration: 1s;
	margin-top: 2em;
}
.mercury img:hover {
	display: inline;
	width: 25em;
	border-right: solid rgb(100,100,100) 1em;
	padding: 1em;
}
.mercury a:hover + .merStats {
	list-style-type: none;
	display: inline-block;
	text-align: left;
	font-size: 3.5em;
	margin-left: 1em;
	color: rgb(50,50,50);
	background-color: rgb(230,230,230);
	
}

.venStats {
	display: none;
}
.venus img {
	width: 20em;
	transition-duration: 1s;
	margin-top: 2em;
}
.venus img:hover {
	width: 25em;
	border-right: solid rgb(210,160,25) 1em;
	padding: 1em;
}
.venus a:hover + .venStats {
	list-style-type: none;
	display: inline-block;
	text-align: left;
	font-size: 3.5em;
	margin-left: 1em;
	color: rgb(230,200,105);
	background-color: rgb(250,245,220);
}

.earStats {
	display: none;
}
.earth img {
	width: 20em;
	transition-duration: 1s;
	margin-top: 2em;
}
.earth img:hover {
	width: 25em;
	border-right: solid rgb(25,120,60) 1em;
	padding: 1em;
}
.earth a:hover + .earStats {
	list-style-type: none;
	display: inline-block;
	text-align: left;
	font-size: 3.5em;
	margin-left: 1em;
	color: rgb(20,55,150);
	background-color: rgb(205,210,235);
}

.marStats {
	display: none;
}
.mars img {
	width: 20em;
	transition-duration: 1s;
	margin-top: 2em;
}
.mars img:hover {
	width: 25em;
	border-right: solid rgb(150,90,10) 1em;
	padding: 1em;
}
.mars a:hover + .marStats {
	list-style-type: none;
	display: inline-block;
	text-align: left;
	font-size: 3.5em;
	margin-left: 1em;
	color: rgb(155,115,0);
	background-color: rgb(245,210,110);
}

.jupStats {
	display: none;
}
.jupiter img {
	width: 20em;
	transition-duration: 1s;
	margin-top: 2em;
}
.jupiter img:hover {
	width: 25em;
	border-right: solid rgb(210,100,30) 1em;
	padding: 1em;
}
.jupiter a:hover + .jupStats {
	list-style-type: none;
	display: inline-block;
	text-align: left;
	font-size: 3.5em;
	margin-left: 1em;
	color: rgb(200,170,130);
	background-color: rgb(210,230,230);
}

.satStats {
	display: none;
}
.saturn img {
	width: 30em;
	transition-duration: 1s;
	margin-top: 2em;
}
.saturn img:hover {
	width: 35em;
	border-right: solid rgb(170,160,140) 1em;
	padding: 1em;
}
.saturn a:hover + .satStats {
	list-style-type: none;
	display: inline-block;
	text-align: left;
	font-size: 3.5em;
	margin-left: 1em;
	color: rgb(150,150,130);
	background-color: rgb(235,230,210);
}

.uraStats {
	display: none;
}
.uranus img {
	width: 20em;
	transition-duration: 1s;
	margin-top: 2em;
}
.uranus img:hover {
	width: 25em;
	border-right: solid rgb(150,210,215) 1em;
	padding: 1em;
}
.uranus a:hover + .uraStats {
	list-style-type: none;
	display: inline-block;
	text-align: left;
	font-size: 3.5em;
	margin-left: 1em;
	color: rgb(135,170,200);
	background-color: rgb(210,235,240);
}

.nepStats {
	display: none;
}
.neptune img {
	width: 20em;
	transition-duration: 1s;
	margin-top: 2em;
}
.neptune img:hover {
	width: 25em;
	border-right: solid rgb(25,100,170) 1em;
	padding: 1em;
}
.neptune a:hover + .nepStats {
	list-style-type: none;
	display: inline-block;
	text-align: left;
	font-size: 3.5em;
	margin-left: 1em;
	color: rgb(30,120,200);
	background-color: rgb(145,200,245);
}

article table {
	display: none;
}
article p {
	display: none;
}

nav {
	text-align: center;
	position: fixed;
	font-size: 1.25em;
	right: 0%;
	top: 35%;
	padding: 0.5em;
	font-family: "sans-serif", Arial;
	background-color: white;
	border-left: solid 0.25em black;
	border-bottom: solid 0.25em black;
	border-top: solid 0.25em black;
	background-color: rgb(220,220,220);
}
nav a {
	color: black;
	border-bottom: solid black 0.10em;
	border-radius: 5px;
	padding: 3px 8px;
	transition-duration: 1s;
	text-decoration: none;
}
nav button {
	padding: 22.5px 22.5px;
	border-radius: 10px;
	transition-duration: 1s;
}
nav button:hover {
	background-color: rgb(200,200,200);
	cursor: pointer;
}

footer {
	font-family: "sans-serif", Arial;
	background-color: gray;
}