*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.bg {
	min-height: 100vh;
	width: 100%;
	background-color: #000;
	background-image: url("retro_bg.gif");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: #fff;
}

body {
	display: inline-block;
	width: 100%;
}

h1 {
	color: white;
	background-color: rgba(50,50,50,0.85);
	text-align: center;
	font-size: 3.75em;
	font-family: "Monaco", monospace;
}

h2 {
	color: white;
	background-color: rgba(50,50,50,0.85);
	text-align: center;
	font-size: 2.5em;
	font-family: "Monaco", monospace;
}

#sun {
	width: 8em;
	float: left;
}

.mercury {
}
.mercury img {
	width: 5em;
	transform: scaleX(-1);
	position: absolute;
	left: 7%;
	top: 31.5%;
}

.venus {
}
.venus img {
	width: 5em;
	position: absolute;
	left: 18%;
	top: 46.5%;
}

.earth {
}
.earth img {
	width: 5em;
	position: absolute;
	left: 26%;
	top: 24%;
}

.mars {
}
.mars img {
	width: 5em;
	position: absolute;
	left: 37%;
	top: 36.5%;
}

.jupiter {
}
.jupiter img {
	width: 5em;
	transform: scaleX(-1);
	position: absolute;
	left: 47%;
	top: 56.5%;
}

.saturn {
}
.saturn img {
	width: 12.5em;
	transform: scaleX(-1);
	position: absolute;
	left: 58%;
	top: 31%;
}

.uranus {
}
.uranus img {
	width: 5em;
	transform: scaleX(-1);
	position: absolute;
	left: 75%;
	top: 44%;
}

.neptune {
}
.neptune img {
	width: 5em;
	position: absolute;
	left: 82.5%;
	top: 26.5%;
}

article {
	color: white;
	background-color: rgba(50,50,50,0.85);
	font-family: "Monaco", monospace;
	font-size: 1.625em;
	display: inline-block;
	width: 100%;
	text-align: center;
}
article table {
	display: inline-block;
}
article ul {
	list-style-type: none;
	margin: 0.625em;
}
article td {
	border: 0.0625em rgba(50,50,50,0.85);
	border-radius: 0.625em;
	background-color: rgba(50,150,150,0.85);
	width: 13em;
}
article th {
	border: 0.0625em rgba(50,50,50,0.85);
	border-radius: 0.625em;
	background-color: rgba(50,150,150,0.85);
	width: 6em;
}

footer {
	color: powderblue;
	background-color: rgba(0,0,0,1.0);
}